@media (max-width: 1199px){
}

@media (max-width: 991px){
    h1 {
        font-size: 34px;
    }
    .critarea-desc {
        font-size: 16px;
        text-align: center;
    }
    .features img.img-fluid.mx-auto.d-block {
        margin-bottom: 20px;
    }
    .navbar-light .navbar-toggler {
        border-radius: 0px;
        padding: 3px 10px;
        outline: none;
    }
}

@media (max-width: 767px){
    /*	.hero form .form-control, .sub-sec .form-control {
        height: 45px;
    }*/
    form button.btn.btn-primary {
        font-size: 14px;
        padding: 6px 22px;
    }
    .clear .btn-primary{
        font-size: 14px;
        padding: 10px 22px;
    }
    .clear-subscribe .btn-primary {
        border: medium none;
        font-size: 14px;
        padding: 12px 10px;
    }
    h1 {
        font-size: 22px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0.5rem;
    }

}
@media (max-width: 535px){

}























